* {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  box-sizing: border-box;
}

:root {
  --everglade: #215732;
  --mantis: #6cc24a;
  --goblin: #44883e;
  --mine-shaft: #333333;
}
